/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  color: white;
  margin: 0;
}

.h-100vh {
  height: 100vh;
}

.p-progress-spinner-circle {
  stroke: var(--primary-600) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
